[run]
branch = False
include =
        dummymate/*
omit =
        */tests/*
        */programmer_utility/*


[report]
fail_under = 80
skip_covered = True
skip_empty = True
exclude_lines =
    # pragma: no cover
    if __name__ == ['"]__main__['"]:
    def __repr__
    def __str__
    raise NotImplementedError(\(.*\))?
